:root {
  --primal-text: #212121;
  --logo-text: #2196f3;
  --logo-header: #000000;
  --logo-footer: #ffffff;
  --slave-text: #757575;
}
body {
  color: var(--primal-text);
  font-family: Roboto, sans-serif;
}
h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}
.work-img,
.teams-img,
.portfolio-img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
}
/* /======================/
header-section
/======================/ */
.header.container {
  display: flex;
  align-items: center;
}
.logo-link {
  color: var(--logo-text);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-header {
  color: var(--logo-header);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  letter-spacing: 0.03em;
}

.nav-title {
  color: var(--logo-text);
}
.nav-link {
  color: var(--primal-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.nav-list {
  list-style: none;
  display: flex;
}
.nav-list :hover,
.nav-list :focus {
  color: var(--logo-text);
}
.header-contacts {
  color: var(--slave-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.header-list {
  display: flex;
}
.header-list :hover,
.header-list :focus {
  color: var(--logo-text);
}
/* /======================/
hero-section
/======================/ */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--logo-footer);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.hero-btn {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--logo-footer);
  background-color: var(--logo-text);
  display: block;
  margin: auto;
}
.hero-btn:hover,
.hero-btn:active {
  background-color: #188ce8;
}
/* ======================
gallery-section
====================== */
.gallery-list {
  display: flex;
}
.gallery-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.gallery-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/* ======================
work-section
====================== */
.work-list {
  display: flex;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}
/* ======================
teams-section
====================== */
.teams {
  background-color: #f5f4fa;
}
.teams-list {
  display: flex;
}
.teams-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}
.teams-user {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}
.teams-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--slave-text);
  text-align: center;
}
.teams-img {
  background-color: var(--logo-footer);
}
/* ======================
footer-section
====================== */
.footer {
  background-color: #2f303a;
}
.logo-footer {
  color: var(--logo-footer);
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  letter-spacing: 0.03em;
}
.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--logo-footer);
}
.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(250, 250, 250, 0.6);
}
.footer-list :hover,
.footer-list :focus {
  color: var(--logo-text);
}
/* ======================
2 pages
====================== */

/* ======================
portfolio-section
====================== */

.portfolio-btn {
  cursor: pointer;
  background-color: #f5f4fa;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.portfolio-btn.all {
  color: var(--logo-footer);
  background-color: var(--logo-text);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--logo-footer);
  background-color: var(--logo-text);
}
.portfolio-list-btn {
  display: flex;
  justify-content: center;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-desc {
  color: var(--slave-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.portfolio-img {
  background-color: var(--logo-footer);
}
/* ======================

====================== */
